@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-rajdhani: var(--font-rajdhani);
}

/* Hard refresh par bhi font override na ho isliye !important use kiya hai */
body {
  font-family: var(--font-rajdhani), sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif !important;
}
